*.o
*.d
/benchmark_index
/benchmark_combinatorial_index
/benchmark_egtb
/benchmark_movegen
/check_stats
/test_index
/test_combinatorial_index
/test_egtb
/test_movegen
/test_generator
/test_generator_padded
/test_material
/test_bitmap
/generate_egtb
/generate_egtb_padded
/generate_egtb_table
/revision.o
/*.dtm
/*.wdl
/logs/
